{% extends './base.html'%}{% block content %}
<div class="container mt-5">
        <div class="card">
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    <p class="lead">¿Seguro que quieres borrar "{{ object }}"?</p>
                    {{ form }}
                    <button type="submit" class="btn btn-success">Confirmar</button>
                    <a href="{% url 'detalles' pk=servicio.pk %}"><button type="button" class="btn btn-danger">Cancelar</button></a>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

