{% extends './base.html' %}

{% block content %}
    <div class="container mt-5 mb-3">
        <div class="card card-custom mx-auto">
            {% if servicio.imagen %}
                <img src="{{ servicio.imagen.url }}" class="card-img-top" alt="{{ servicio.nombre }}">
            {% endif %}
            <div class="card-body">
                <h2 class="card-title">{{ servicio.nombre }}</h2>
                <p class="card-text">Precio: {{ servicio.precio }}€</p>
                <p class="card-text">Descripción: {{ servicio.descripcion }}</p>
                <p class="card-text">Categoría: {{ servicio.categoria }}</p>
                <p class="card-text">Ubicación: {{ servicio.ubicacion }}</p>
                <p class="card-text">Activo: {% if servicio.activo %}Sí{% else %}No{% endif %}</p>
                <p class="card-text">Subido por: <a href="{% url 'perfil_usuario' servicio.usuario.pk%}">{{ servicio.usuario }}</a></p>
            </div>
        </div>
        <div class="mt-3 text-center">
            <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                {% if user.is_authenticated and user == servicio.usuario or user.is_superuser %}
                    <a href="{% url 'actualiza' pk=servicio.pk %}" class="btn btn-primary m-1">Actualizar servicio</a>
                    <a href="{% url 'borra' pk=servicio.pk %}" class="btn btn-danger m-1">Borrar servicio</a>
                {% endif %}
                {% if user.is_authenticated %}
                    {% if user != servicio.usuario %}
                        {% if servicio.activo %}
                            <a href="{% url 'checkout' pk=servicio.pk %}" class="btn btn-success m-1">Comprar</a>
                        {% endif %}
                    {% endif %}
                {% endif %}
                {% if user.is_authenticated %}
                    {% if ha_realizado_compra %}
                        <a href="{% url 'valoraciones' pk=servicio.pk %}" class="btn btn-info m-1">Valorar</a>
                    {% endif %}
                {% endif %}
                <a href="{% url 'servicios' %}" class="btn btn-secondary m-1">Volver a lista de servicios</a>
            </div>
            <br><br>

            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-8"> 
                        {% if existeValoracion %}
                            <div class="card card-custom">
                                <div class="card-body">
                                    <h2 class="card-title">Valoraciones</h2>
                                    {% for compra in object.compra_set.all %}
                                        {% if compra.valoracion %}
                                            <p>{{ compra.usuario_comprador.username }}: {{ compra.valoracion }}</p>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        {% else %}
                            <div class="card card-custom">
                                <div class="card-body">
                                    <p>No hay valoraciones sobre este servicio</p>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        
    </div>

    <style>
        .card-custom {
            max-width: 600px; 
            margin: auto;
        }

        @media (max-width: 768px) {
            .card-custom {
                max-width: 100%;
            }
        }
    </style>
{% endblock %}
