{% extends './base.html'%}
{% block content %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Reportar Usuario</title>
</head>
<body>
    <h1>Reportar Usuario</h1>
    <p>Estás reportando a {{ usuario_reportado }}</p>
    <form action="" method="POST">
        {% csrf_token %}
        <textarea name="motivo" rows="4" cols="50" placeholder="Describe el motivo del reporte"></textarea>
        <br>
        <button type="submit" class="btn btn-danger mt-3">Reportar</button>
    </form>
</body>
</html>
{% endblock %}
