{% extends './base.html' %}
{% block content %}
{% load static %}
<div class="container mt-4">
    <style>
        small {
            float: right;
            margin-left: 10%;
        }
    </style>
    <h2 class="text-center mb-4">Chats</h2>

    {% if rooms %}
    <div class="row">
        {% for room in rooms %}
        <div class="col-md-4 mb-3">
            <div class="card">
                <div class="card-body">
                    <a href="{% url 'chat' room.slug %}" style="text-decoration: none; color: inherit;">
                        <h5 class="card-title">
                            <img src="{{ room.otro_usuario.avatar.url }}" alt="Avatar" style="width: 50px; height: 50px; border-radius: 50%;">
                            {{ room.otro_usuario }}
                        </h5>
                        <p class="mt-1 w-100">Último mensaje: {{ room.ultimo_mensaje.content }} <small>{{ room.ultimo_mensaje.created_on|date:"H:i" }}</small></p>
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <div class="alert alert-info" role="alert">
        No hay chats disponibles en este momento.
    </div>
    {% endif %}
</div>
{% endblock %}
