{% extends './base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="card shadow-sm">
        <div class="card-body">
            <h1 class="display-4">Valorar {{ compra.servicio.nombre }}</h1>

            <form method="post" enctype="multipart/form-data" oninput="validarFormulario()" action="{% url 'valoraciones' pk=compra.servicio.pk %}">
                {% csrf_token %}
                <div class="form-group mt-3">
                    <label for="id_valoracion">Valoración</label>
                    <textarea class="form-control" id="id_valoracion" name="valoracion" rows="3" placeholder="Ingresa tu valoración" oninput="validarCampo(this, '^[A-Za-zñÑáéíóúÁÉÍÓÚ0-9 .,]*$', 'La valoración no debe contener caracteres especiales.')">{{ compra.valoracion|default_if_none:"" }}</textarea>
                    <div class="invalid-feedback">La valoración no debe contener caracteres especiales.</div>
                </div>
                <div class="form-group mt-2">
                    <label for="id_puntuacion">Puntuación</label>
                    <select class="form-control" id="id_puntuacion" name="puntuacion">
                        <option value="0" {% if compra.puntuacion == 0 %} selected {% endif %}>0</option>
                        <option value="1" {% if compra.puntuacion == 1 %} selected {% endif %}>1</option>
                        <option value="2" {% if compra.puntuacion == 2 %} selected {% endif %}>2</option>
                        <option value="3" {% if compra.puntuacion == 3 %} selected {% endif %}>3</option>
                        <option value="4" {% if compra.puntuacion == 4 %} selected {% endif %}>4</option>
                        <option value="5" {% if compra.puntuacion == 5 %} selected {% endif %}>5</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-success mt-4" id="botonPublicar">Publicar</button>
                <a href="{% url 'detalles' pk=compra.servicio.pk %}" class="btn btn-danger mt-4">Cancelar</a>
            </form>
        </div>
    </div>
</div>

<script>
    function validarCampo(campo, expresionRegular, mensajeError) {
        var valorCampo = campo.value;
        var expresion = new RegExp(expresionRegular);

        if (valorCampo.trim() !== '' && !expresion.test(valorCampo)) {
            campo.setCustomValidity(mensajeError);
            campo.classList.add('is-invalid');
            return false;
        } else {
            campo.setCustomValidity('');
            campo.classList.remove('is-invalid');
            return true;
        }
    }

    function validarFormulario() {
        var valoracionValida = validarCampo(document.getElementById('id_valoracion'), '^[A-Za-zñÑáéíóúÁÉÍÓÚ0-9 .,]*$', 'La valoración no debe contener caracteres especiales.');

        var botonPublicar = document.getElementById('botonPublicar');
        botonPublicar.disabled = !valoracionValida;
    }
</script>

{% endblock %}
